 @media screen and (min-width: 378px) {
   .cabecalho__pesquisa{
     display: none;

   }
   .cabecalho{
     justify-content: center;
   }
   .login{
     height: 60vw;
   }
   .login__entrada{
     width: 60%
   }
   .contato{
     display: flex;
     flex-direction: column;
   }
   .contato__logo{
     margin: 2rem 0 2rem 0;
   }
   .rodape__titulo{
     width: 37%
   }

 }
  @media screen and (min-width: 768px){
    .cabecalho__pesquisa{
      display:block;
    }
    .contato{
      padding-top: 1rem;
      display: grid;
      height: 30vw;
    }
    .contato__caixa-botao{
      width: 65%;
    }
    .login__entrada{
      width: 40%
    }
}
@media screen and (min-width: 1200px){
    .cabecalho__logo-primeira-cabecalho{
      padding-right: 3rem;
    }
    .cabecalho__pesquisa{
      margin-right: 35%;
    }
    .login{
    height: 30vw;
    }
    .login__entrada{
      width: 30%
    }

    .rodape__titulo{
      width: 15%;
    }
    .cabecalho__logo-primeira-logo{
      margin-bottom: 6rem;
    }
}
