body{
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
}

.bg-azulbb{
    background: #EAF2FD;
}
.bg-cinzalight{
   background-color:#F5F5F5;
}
.inp-head{
    height: 3rem;
}
.img-400{
    height: 400px;
    width: 400px;
}
.me-13{
 margin-right: 13rem!important;
}
ms-6{
    margin-left: 6rem!important;
}
.w-80{
    width: 80%!important;
}
.w-40{
    width: 40%!important;
}
.inp-head::placeholder{
    
    padding-left: 1rem;
    background-image: url(img/lupa.svg);
    background-repeat: no-repeat;
    background-position: 98%;
    
}
.alura-cabecalho{
    color: #2A7AE4;
}
.alr-color{
    color: black;
}
.alura-cabecalho::before{
   content: url(img/logo.svg);
   vertical-align: text-top;
}
.alura-link{
    text-decoration: none;
    list-style: none;
}

